/*#main-nav-bg{ min-height: 800px;}
#main-nav{max-height: 800px;}
#content{min-height: 760px;}*/
body{overflow-x:hidden; }

#wrapper{position: relative;}
#footer{bottom:0; position: absolute;width: 100%;}
#content-wrapper{padding-bottom: 48px !important;min-height: 1024px;}
.fc-header .fc-header-left {
    text-align: center !important;
}

.fc-button {
    box-sizing: border-box !important;
    cursor: pointer !important;
    display: inline-block !important;
    height: 2.3em !important;
    line-height: 1.9em !important;
    overflow: hidden !important;
    padding: 0 1.6em !important;
    position: relative !important;
    white-space: nowrap !important;
    border-radius: 25px;
}
/*.fc-header-right span.fc-button{
	box-sizing: border-box;
    cursor: pointer;
    font-size: 1em;
    height: 2.1em;
    margin: 0;
    padding: 0 0.6em;
    white-space: nowrap;
    line-height: inherit;
        background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
*/

header .navbar > .nav > li.dark > a:hover, 
header .navbar > .nav > li.dark > a:active, 
header .navbar > .nav > li.dark > a:focus{
    background: #616161;
}
/*.img-parent{width: 500px;margin: 0 auto;}
.img-zoom {
        height: auto;
        width: auto;
        vertical-align: text-top;
    transition: width 1s linear .5s, height 1s linear .5s;
  -webkit-transition: width 1s linear .5s, height 1s linear .5s;
  -o-transition: width 1s linear .5s, height 1s linear .5s;
  -moz-transition: width 1s linear .5s, height 1s linear .5s;
  position: relative;
}
 
.img-zoom:hover{
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;

}*/

div.transition img{ 
  width : 310px;
  -webkit-transition:ease-in-out .5s; 
  -moz-transition:ease-in-out .5s; 
  transition:ease-in-out .5s;
}   
div.transition{
  -webkit-transition: width 1s, height 1s; /* Safari */
  transition: width 1s, height 1s; 
  -webkit-transition:ease-in-out .5s; 
  -moz-transition:ease-in-out .5s; 
  transition:ease-in-out .5s;
   max-width:500px!important;
  
}
div.transition:hover{width: 100%; height: 100%;}

div.transition:hover img{ width:100% !important; height:100% !important;}

.fuelux-custom.fuelux .wizard ul li{
  margin-right: 15px;
    padding: 0 15px 0 15px !important;
    font-size: 12px;
}
.margin-top-15 {
    margin-top: 15px;
}