/* Variables */
/* CSS Document */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: normal;
  color: #b8b8b8; }

h1, h2, h3,{ padding:0; margin:0}
.main_header {
  background: #272727;
  opacity: 0.8;
  border-bottom: 1px solid #ebebeb;
  position: fixed;
  width: 100%;
  z-index: 10; }

.main_header .logo {
  height: 25px;
  margin: 7px 0; }

.banner {
  background: url(../images/banner1.jpg) no-repeat center top;
  background-size: cover;
  height: 720px;
  width: 100%; }

.banner h1 {
  font-size: 50px;
  color: #000;
  margin: 20% 0 0 0;
  text-align: center;
  text-shadow: #969696 0px 0px 5px;
  font-weight: 400; }

.banner h2 {
  font-size: 30px;
  color: #000;
  margin: 2% 0 0 0;
  text-align: center;
  text-shadow: #969696 0px 0px 5px;
  font-weight: 400; }

.main_menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: right;
  font-size: 11px;
  text-transform: uppercase;
  padding-top: 5px;
  letter-spacing: 1px;
  padding: 15px 0; }

.main_menu li {
  float: left;
  background: url(../images/menu_arrow.png) no-repeat right 5px; }

.main_menu li a {
  text-decoration: none;
  padding: 5px 15px;
  margin-left: 5px;
  color: #b8b8b8; }

.main_menu li a span {
  color: #389220; }

.main_menu li a.white {
  text-decoration: none;
  padding: 5px 10px;
  color: #fff; }

.main_menu li a.white:hover {
  color: #389220; }

.main_menu li a:hover {
  border-color: #F60;
  color: #b8b8b8; }

/* Submenu */
.main_menu ul {
  position: absolute;
  left: -9999px;
  top: -9999px;
  list-style-type: none;
  z-index: 1000000000; }

.main_menu li:hover {
  position: relative; }

.main_menu li:hover ul {
  left: 0;
  top: 20px;
  background: #272727;
  padding: 0px; }

.main_menu li:hover ul li a {
  padding: 9px 20px;
  display: block;
  width: 200px;
  text-indent: 0px;
  margin-left: 0;
  background-color: #272727;
  border: none;
  border-bottom: 1px solid #858585; }

.main_menu li:hover ul li a:hover {
  background: #272727;
  border: none;
  border-bottom: 1px solid #858585;
  color: #389220; }

.footer_menu ul {
  margin: 0;
  padding: 0;
  width: 230px;
  list-style-type: none; }

.footer_menu ul li a {
  text-decoration: none;
  color: #616161;
  padding: 10.5px 11px;
  display: block;
  border-bottom: 1px dotted #474747;
  background: url(../images/footer_arrow.png) no-repeat left 16px; }

.footer_menu ul li a:visited {
  color: #b8b8b8; }

.footer_menu ul li a:hover, .footer_menu ul li .current {
  color: #b8b8b8; }

.search_box {
  background: #7f7f7f;
  margin: 0 auto !important;
  padding: 10px 40px;
  position: absolute;
  top: 540px;
  width: 1140px;
  z-index: 9; }

.search_box .textfield {
  padding: 5px 10px;
  border: 0;
  font-style: italic;
  color: #202020;
  width: 100%;
  font-size: 13px; }

.search_box .textfield_small {
  width: 20px;
  border: none;
  text-align: center;
  font-style: normal;
  font-size: 20px; }

.search_box .whitespace {
  padding: 10px 10px;
  border: solid 1px #9f9f9f;
  color: #202020;
  background: #fff;
  margin: 17px 15px; }

.search_box .whitespace2 {
  padding: 3px 10px;
  border: solid 1px #9f9f9f;
  color: #202020;
  background: #fff;
  margin: 17px 15px; }

.search_box table {
  width: 98%;
  padding: 0; }

.search_box table tr td {
  font-size: 15px;
  line-height: normal;
  padding: 0; }

.search_box table tr td h3 {
  font-size: 25px;
  font-weight: 600;
  line-height: 17px;
  padding: 0;
  margin: 0; }

.search_box button {
  background: #fff;
  border: 0px;
  color: #000;
  font-size: 17px;
  padding: 14px 15px;
  margin-top: 17px; }

.search_box .whitetext {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding-left: 5px; }

.search_box .space {
  padding: 0; }

.gallery_margin {
  margin-top: 30px; }

.search_box .datepicker {
  padding: 13px 10px; }

.boxrow {
  margin: 30px 0; }

.box1 {
  background: #54555d;
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding: 40px 0; }

.box2 {
  background: #6c6d76;
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding: 40px 0; }

.box3 {
  background: #54555d;
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding: 40px 0; }

.box4 {
  background: #6c6d76;
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding: 40px 0; }

.map {
  background: url(../images/map.jpg) no-repeat center top;
  background-size: cover;
  height: 650px; }

footer {
  background: #272727;
  padding: 30px 0 0 0;
  margin-top: 30px; }

footer h1 {
  color: #b8b8b8;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0 0 10px 0;
  margin: 0 0 15px 0;
  border-bottom: solid 1px #b8b8b8; }

.abtcontent p {
  font-size: 14px;
  color: #616161; }

.abtcontent h2 {
  font-size: 14px;
  color: #fff;
  font-weight: 600; }

.abtcontent img {
  width: 150px; }

.footer_margin {
  margin-right: 30px; }

footer table {
  width: 100%; }

.textfield_footer {
  width: 100%;
  height: 40px;
  padding: 5px;
  background: #303030;
  border: solid 1px #4b4b4b;
  color: #b8b8b8;
  font-size: 16px;
  margin-bottom: 15px; }

.send_enquiry {
  width: 100%;
  height: 40px;
  padding: 5px;
  background: #7a6b6b;
  border: solid 0px #4b4b4b;
  color: #fff;
  font-size: 18px; }

.copytext {
  color: #616161;
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;
  padding-top: 20px; }

.footer_light {
  background: #333333;
  padding: 15px 0;
  margin-top: 20px; }

.thumb {
  margin-bottom: 30px;
  text-align: center; }

.border_left {
  border-left: solid 1px #a9a9a7;
  height: 45px;
  float: right; }

span.fa {
  font-size: 15px;
  padding-top: 15px;
  margin-left: 10px; }

.cart_no {
  border-radius: 50%;
  background: #389220;
  color: #fff;
  font-size: 9px;
  height: 15px;
  left: 70px;
  line-height: 15px;
  position: absolute;
  top: 5px;
  text-align: center;
  width: 15px; }

.fa-lg {
  font-size: 15px;
  color: #fff;
  padding-top: 15px; }

.fa-lg:hover {
  font-size: 15px;
  color: #389220; }

.headerright {
  float: right; }

.img_text {
  font-size: 30px;
  color: #fff;
  text-align: center !important;
  z-index: 9;
  position: absolute;
  margin: 30% auto;
  width: 90%; }

.img_text1 {
  font-size: 30px;
  color: #fff;
  text-align: center !important;
  z-index: 9;
  position: absolute;
  margin: 15% auto;
  width: 90%; }

.img_text1 span {
  font-size: 60px;
  color: #fff;
  text-align: center !important;
  text-transform: uppercase; }

/*header menu start*/
.menubtn {
  display: none; }

nav {
  font-size: 11px;
  display: block;
  position: relative;
  z-index: 9999;
  text-transform: uppercase;
  float: right; }

nav span {
  display: none; }

/* all lists */
nav ul, nav ul ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1;
  position: relative; }

nav ul a {
  display: block;
  text-decoration: none;
  background: url(../images/menu_arrow.png) no-repeat right 19px;
  margin: 0 5px;
  padding: 15px 15px !important; }

nav ul a:hover, a:focus {
  text-decoration: none;
  color: #b8b8b8; }

/* all list items */
nav ul li {
  float: left;
  -webkit-transition: background-color 0.7s ease;
  -moz-transition: background-color 0.7s ease;
  -o-transition: background-color 0.7s ease;
  -ms-transition: background-color 0.7s ease;
  transition: background-color 0.7s ease; }

nav ul li:last-child {
  border: none; }

/* second-level lists */
nav ul li ul {
  position: absolute;
  width: 170px;
  left: -999em;
  /* using left instead of display to hide menus because display: none isn't read by screen readers */ }

nav ul li ul li {
  width: 170px; }

nav ul ul li,
nav ul ul ul li,
nav ul ul ul ul li {
  border-right: none; }

nav ul li a.sf-with-ul:after {
  display: inline-block;
  *float: right;
  /*IE7 Fix*/
  position: relative;
  top: 0em;
  right: -0.3em; }

nav ul li.sfHover a.sf-with-ul:after {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

nav ul li.sfHover li a.sf-with-ul:after {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

nav ul li a.sf-with-ul:only-child:after {
  content: '';
  /* if only child, delete arrow */ }

nav ul li ul a {
  padding: 0.5em 1.5em;
  background: none;
  margin-top: -1px;
  /*to offset bottom border*/ }

nav ul li ul li:last-child a {
  border-bottom: none; }

/* third-and-above-level lists */
nav ul li ul ul {
  margin: -2em 0 0 12em;
  /* negative margin calculated by li padding plus line height*/ }

nav ul li:hover ul ul,
nav ul li:hover ul ul ul,
nav ul li.sfhover ul ul,
nav ul li.sfhover ul ul ul {
  left: -999em; }

nav ul li:hover ul,
nav ul li li:hover ul,
nav ul li li li:hover ul,
nav ul li.sfhover ul,
nav ul li li.sfhover ul,
nav ul li li li.sfhover ul {
  /* lists nested under hovered list items */
  left: auto; }

/*UNIVERSAL PADDING*/
nav ul a,
nav ul li a,
nav ul li ul a {
  padding: 15px 10px; }

/*----------------------------------
	COLORS
-----------------------------------*/
nav {
  background: none; }

nav ul a {
  color: #b8b8b8; }

/*Top Nav borders*/
nav ul li {
  border-right: 0px solid #ccc; }

.green_text {
  color: #389220;
  display: inline; }

nav ul li:hover {
  color: #666;
  background: none; }

nav ul li ul a {
  border-bottom: 1px solid #848484; }

nav ul li ul a:hover, a:focus {
  color: #389220; }

nav ul li ul {
  background: #272727; }

/*----------------------------------
	MEDIA QUERY
-----------------------------------*/
@media screen and (max-width: 800px) {
  .menubtn {
    display: block;
    margin: 5px 0 10px;
    float: right;
    text-indent: -9999px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    width: 40px;
    height: 40px; }

  .menubtn:hover {
    cursor: pointer; }

  nav span {
    display: block; }

  nav span {
    position: relative;
    float: right;
    padding: 10px; }

  nav span:hover {
    cursor: pointer; }

  nav ul,
  nav ul > ul {
    display: none;
    float: none;
    width: 250px; }

  nav ul li {
    border-right: none; }

  nav ul li a.sf-with-ul:after {
    content: ''; }

  nav ul li ul,
  nav ul li ul li {
    width: 100%; }

  nav ul li ul a {
    border-bottom: none; }

  nav ul ul,
  nav ul li {
    width: 100%; }

  nav ul li a {
    padding: 0.5em 1em 0.5em 1em;
    float: left;
    color: #fff;
    background: none; }

  nav ul li ul a {
    padding: 0.5em 1em 0.5em 2em; }

  nav ul ul li ul a {
    padding: 0.5em 1em 0.5em 3em; }

  nav ul ul ul li ul a {
    padding: 0.5em 1em 0.5em 4em; }

  nav ul li ul,
  nav ul li ul ul,
  nav ul li:hover ul ul,
  nav ul li:hover ul ul ul,
  nav ul li.sfhover ul ul,
  nav ul li.sfhover ul ul ul,
  nav ul li:hover ul,
  nav ul li li:hover ul,
  nav ul li li li:hover ul,
  nav ul li.sfhover ul,
  nav ul li li.sfhover ul,
  nav ul li li li.sfhover ul {
    position: relative;
    display: none;
    margin: 0 0 0 0;
    left: 0em;
    /* using left instead of display because display: none isn't read by screen readers */ }

  /*----------------------------------
  	MOBILE COLORS
  -----------------------------------*/
  nav {
    background: none; }

  .menubtn {
    background: #333 url("../images/menuicon.png") no-repeat right top;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    opacity: 0.6; }

  .menubtn:hover,
  .menuOpen {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    opacity: 1; }

  /*Plus icon*/
  nav span {
    background: #389220;
    color: #fff; }

  nav span:hover {
    background: #389220; }

  /*Top Nav background*/
  nav ul ul,
  nav ul li {
    background: #000; }

  /*Sub-Nav background*/
  nav ul li ul li {
    background: #000; }

  /*Sub-Nav borders*/
  nav ul li ul li {
    border-bottom: 1px solid #e5e5e5; }

  /*sub, sub-Nav background*/
  nav ul ul ul li {
    background: #000; }

  /*First Nav Item when open*/
  ul li.menuOpen,
  ul li.menuOpen:hover {
    background: #389220; }

  ul li.menuOpen > span {
    background: #389220;
    opacity: 0.9; }

  /*Sub-Nav Item when open*/
  ul ul li.menuOpen,
  ul ul li.menuOpen:hover {
    background: #a9e4fc; }

  /*Sub, Sub-Nav Item when open*/
  ul ul ul li.menuOpen,
  ul ul ul li.menuOpen:hover {
    background: #cdebf7; }

  .green_text {
    color: #389220;
    display: inline;
    background: none;
    padding: 0; }

  .green_text:hover {
    color: #389220;
    display: inline;
    background: none;
    padding: 0; } }
/*header menu end*/

.wrapper_content{ margin:40px auto}
.inner_banner {
  background: url(../images/inner_banner.jpg) no-repeat center top;
  background-size: cover;
  height: 157px;
  width: 100%; }
  
.banner_heading h1{ text-align:right; font-size:80px; font-weight:400; text-transform:uppercase; color:#fff; padding-top:40px; letter-spacing:-3px}

.border_box{ border:solid 1px #7f7f7f; padding:0}
.border_box .sectiontop{ background:#a6a6a6; padding:15px 10px; border-bottom:solid 2px #7f7f7f}

.border_box div{ background:#fff; margin-bottom:14px;}

.border_box input{ width:100%; border:0; color:#333; height:40px; padding:5px 10px; font-style:italic}
.border_box table {
  width: 98%;
  padding:0 10px; }

.border_box table tr td {
  font-size: 15px;
  line-height: 17px;
  padding: 0; color:#050607; }

.border_box table tr td h3 {
  font-size: 35px;
  font-weight: 600;
  line-height: 17px;
  padding:0 0 0 5px;
  margin: 0; color:#050607}

.border_box .search_btn{position: absolute; z-index: 4; padding: 4px 0px 0px; right:18px;}
.border_box .button{ background:url(../images/search_ico.jpg) no-repeat left top; width:40px; height:35px; border:0;}

.border_box a{ font-size:15px; color:#050607; padding:0 0 0px 10px;}
.border_box a:hover{ text-decoration:none; color:#a6a7a7}
.border_box::-moz-placeholder {
    color: #000;
    /*opacity: 1*/
}
.leftspace{ padding-left:10px !important;}

.border_box:-ms-input-placeholder {
    color: #000
}
.border_box::-webkit-input-placeholder {
    color: #000
}

input[type=checkbox].css-checkbox {
position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
padding-left:40px;
height:25px; 
display:inline-block;
line-height:25px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:15px;
vertical-align:middle;
cursor:pointer; margin:10px 0 0 10px;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
background-position: 0 -25px;
}
label.css-label {
background-image:url(../images/chk_box.jpg);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none; padding-left:50px;
}

.nopadding{ padding:0}
.search_result_box{border:solid 1px #7f7f7f; padding:0; margin-left:10px;margin-bottom:20px;}
.search_result_box .spaceheight{ height:150px;}
.search_result_box .spacebottom{ margin-bottom:20px;}
.search_result_box h1{ font-size:35px; font-weight:600; color:#000; padding:10px 0 0 0; margin:0; }
.search_result_box h2{ font-size:25px; font-weight:400; color:#000;padding:0; margin:0}
.search_result_box h3{ font-size:45px; font-weight:400; color:#000;padding:0; margin:0}
.search_result_box .rating_img{ width:20px; height:auto}
.search_result_box p{ font-size:18px; font-weight:400; color:#000; padding-top:10px;}