.login
{
    background : $gray-lighter;
    height     : 100%;

    .card, .card-img-top
    {
        background              : #fff;

        margin-top              : -1px;
        border-top-left-radius  : 0;
        border-top-right-radius : 0;
    }
}