<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 inner_banner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 banner_heading">
                        <h1>{{'SEARCH' | translate}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container wrapper_content">
    <div class="row">
        <div class="col-sm-4">
            <div class="well well-sm">

                <h4>{{'SEARCH.BOX_HEADLINE' | translate}}<br>
                    <small>{{'SEARCH.TELL_US_WHAT_YOU_SEARCH_FOR' | translate}}</small>
                </h4>

                <hr>

                <form>
                    <section class="form-group">
                        <label class="control-label" for="query">
                            {{'SEARCH.QUERY' | translate}}
                        </label>

                        <div class="input-group">
                            <input type="text" ng-model="query.freeText" class="form-control" id="query"
                                   placeholder="{{'SEARCH.QUERY' | translate}}"/>

                            <div class="input-group-btn">
                                <button class="btn"
                                        ng-class="!extendedSearch ? 'btn-primary': 'btn-default'"
                                        ng-disabled="clubs && !clubs.$resolved"
                                        ng-click="search()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </section>

                    <section class="form-group row">
                        <div class="col-xs-12">
                            <label class="control-label">{{'OFFERS' | translate}}</label>
                        </div>

                        <div class="col-xs-6"
                             ng-if="$index < 6 || extendedOffers"
                             ng-repeat="offer in offers">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-false-value="null" ng-model="query.offers[offer.id]">
                                    {{'OFFERS.' + offer.identifier | translate}}
                                </label>
                            </div>
                        </div>

                        <div class="col-xs-6 col-xs-offset-6">
                            <button ng-if="!extendedOffers" class="btn btn-default btn-xs btn-block"
                                    ng-click="toggleExtendedOffers()">
                                {{'SEARCH.SHOW_EXTENDED_OFFERS' | translate}}

                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </section>

                    <section>

                        <button ng-if="!extendedSearch" class="btn btn-link btn-block"
                                ng-click="toggleExtendedSearch()">
                            {{'SEARCH.SHOW_EXTENDED' | translate}}

                            <i class="fa fa-chevron-down"></i>
                        </button>

                        <button ng-if="extendedSearch" class="btn btn-link btn-block" ng-click="toggleExtendedSearch()">
                            {{'SEARCH.HIDE_EXTENDED' | translate}}

                            <i class="fa fa-chevron-up"></i>
                        </button>

                    </section>

                    <div ng-if="extendedSearch">

                        <hr>

                        <section class="form-group">
                            <label for="guestAmount">{{'GUESTS' | translate}}</label>

                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-click="decrementObjKey('query', 'guestAmount')">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>

                                <input type="number" ng-model="query.guestAmount" class="form-control text-center"
                                       id="guestAmount"
                                       placeholder="{{'SEARCH.GUEST_AMOUNT' | translate}}"/>

                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-click="incrementObjKey('query', 'guestAmount')">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </section>

                        <section class="form-group">
                            <label class="control-label" for="date">{{'DATE' | translate}}</label>

                            <input type="date" class="form-control" id="date" ng-model="query.date"
                                   placeholder="{{'DATE' | translate}}">
                        </section>

                        <button class="btn btn-primary btn-block"
                                ng-click="search()"
                                ng-disabled="clubs && !clubs.$resolved">
                            <i class="fa fa-search"></i><br>{{'SEARCH.SEARCH' | translate}}
                        </button>

                    </div>

                </form>

            </div>
        </div>


        <div class="col-sm-8">

            <div class="alert alert-info" ng-if="clubs === undefined">
                {{'SEARCH.NO_SEARCH_YET' | translate}}
            </div>

            <div class="alert alert-warning" ng-if="clubs.$resolved === false">
                {{'SEARCH.SEARCH_IN_PROGRESS' | translate}}
            </div>

            <div class="alert alert-warning" ng-if="clubs.$resolved !== false && clubs.length === 0">
                {{'SEARCH.NO_RESULT_FOR_THE_SEARCH' | translate}}
            </div>


            <div class="row" ng-if="(clubs.count())">
                <div class="col-sm-12">{{ 'No records found!' | translate}}</div>
            </div>
            <div class="row search_result_box" ng-repeat="club in clubs">
                <div class="col-sm-3 nopadding">
                    <img src="images/search_img1.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-sm-9">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 spaceheight">
                                <h1>{{club.name}}</h1>
                                <h2>{{ 'Main Street 1' | translate}}</h2>
                            </div>
                            <div class="col-sm-8">
                                <table border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td><img src="images/rating_drk.jpg" alt="" class="rating_img"></td>
                                        <td><img src="images/rating_drk.jpg" alt="" class="rating_img"></td>
                                        <td><img src="images/rating_drk.jpg" alt="" class="rating_img"></td>
                                        <td><img src="images/rating_drk.jpg" alt="" class="rating_img"></td>
                                        <td><img src="images/rating_lgt.jpg" alt="" class="rating_img"></td>
                                    </tr>
                                </table>
                                <p>{{ 'Rating:' | translate}} 4</p>
                            </div>
                            <div class="col-sm-4">
                                <h3>$ {{ club.price | number : 2}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
