/* CSSTerm.com Simple Horizontal DropDown CSS menu */

.drop_menu1 {
	
	padding:0;
	margin:0;
	list-style-type:none;
	 float:right;
}
.drop_menu1 li { float:left; }
.drop_menu1 li a {
text-decoration: none;
padding: 5px 10px;
border-bottom: 7px solid #b1b2b3;
color: #9c9d9d;  border-left:solid 3px #009ee3;
}
.drop_menu1 li a:hover {
border-color: #F60; border-left:solid 3px #009ee3;
color: #e5007d
}

/* Submenu */
.drop_menu1 ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none; z-index:1000000000
}
.drop_menu1 li:hover { position:relative;}
.drop_menu1 li:hover ul {
	left:0;
	top:32px;
	background:#aecb06;
	padding:0px; 
}

.drop_menu1 li:hover ul li a {
	padding:9px 20px;
	display:block;
	width:200px;
	text-indent:0px;
	background-color:#FFF; border:none; border-bottom:2px solid #a0d13a
}
.drop_menu1 li:hover ul li a:hover { background:#cb90ac; border:none; border-bottom:2px solid #a0d13a; color:#fff;}

