<section class="cart">
    <header>
        <div class="container">
            <h1 class="text-bottom text-right">{{'CART.HEADLINE' | translate: {amount: cart.amount} }}</h1>
        </div>
    </header>

    <div class="container">
        <div class="alert alert-info" ng-if="!cart.length">
            {{'CART.EMPTY' | translate}}
        </div>

        <div data-ng-include="'templates/cart/cartPartial.html'"></div>

        <div class="row" ng-if="cart.length">
            <div class="col-sm-4 col-md-3">
                <a href="#/" class="btn btn-secondary btn-block">{{'CART.SHOP_MORE' | translate}}</a>
            </div>
            <div class="col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-6">
                <a href="#/cart/checkout" class="btn btn-primary btn-block">{{'CART.CHECKOUT_NOW' | translate}}</a>
            </div>
        </div>

        <div class="row" ng-if="!cart.length">
            <div class="col-xs-12">
                <a href="#/" class="btn btn-primary btn-block btn-lg">{{'CART.GET_SHOPPING' | translate}}</a>
            </div>
        </div>
    </div>

</section>
