<section class="checkout">

    <header>
        <div class="container">
            <h1 class="text-bottom text-right">{{'CART.CHECKOUT' | translate}}</h1>
        </div>
    </header>

    <main class="container">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item" ng-class="checkoutStep === 0 ? 'active' : ''">
                <a class="nav-link">{{'CART' | translate}}</a>
            </li>
            <li class="nav-item" ng-class="checkoutStep === 1 ? 'active' : ''">
                <a class="nav-link">{{'DETAILS' | translate}}</a>
            </li>
            <li class="nav-item" ng-class="checkoutStep === 2 ? 'active' : ''">
                <a class="nav-link">{{'PAYMENT' | translate}}</a>
            </li>
        </ul>


        <section class="well well-sm" ng-if="checkoutStep === 0">


            <div class="row">
                <div class="col-xs-12">
                    <hr>
                </div>

                <div class="col-xs-6 col-xs-offset-3 col-sm-offset-5 col-sm-2">
                    <button class="btn btn-primary btn-block" ng-click="next()">{{'NEXT' | translate}}</button>
                </div>
            </div>
        </section>

        <section class="well well-sm" ng-if="checkoutStep === 1">

            <div class="row">
                <div class="col-xs-12">
                    <hr>
                </div>

                <div class="col-xs-6 col-xs-offset-3 col-sm-offset-5 col-sm-2">
                    <button class="btn btn-primary btn-block" ng-click="initiatePayment()">{{'NEXT' | translate}}
                    </button>
                </div>
            </div>

        </section>

        <section class="well well-sm" ng-if="checkoutStep === 2">


            <form id="checkout" method="post" action="/checkout">
                <div id="payment-form"></div>

                <div class="row">
                    <div class="col-xs-12">
                        <hr>
                    </div>

                    <div class="col-xs-6 col-xs-offset-3 col-sm-offset-5 col-sm-2">
                        <button class="btn btn-primary btn-block" type="submit">{{'NEXT' | translate}}</button>
                    </div>
                </div>
            </form>
        </section>

        <section class="well well-sm" ng-if="checkoutStep === 3">
            <div class="success-header text-center">
                <h1><i class="fa fa-check-circle"></i></h1>

                {{'THANK_YOU_CHECKOUT' | translate}}
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <hr>
                </div>

                <div class="col-xs-6 col-xs-offset-3 col-sm-offset-5 col-sm-2">
                    <button class="btn btn-primary btn-block" ng-click="getContents()">{{'GET_YOUR_PURCHASE' |
                        translate}}
                    </button>
                </div>
            </div>
        </section>
    </main>

</section>
