@import "../common/lib/bootstrap-3/assets/stylesheets/bootstrap";
@import "../common/lib/leaflet/dist/leaflet.css";
@import "../common/lib/amitava82/angular-multiselect/dist/multiselect.css";
@import "../common/lib/angular-bootstrap/ui-bootstrap-csp.css";

/* Variables */
$font_body: 'Open Sans', sans-serif;
$text-color: $gray;
$header_background: #272727;
$header_opacity: .8;
$full_width: 100%;
$blk_color: #000;
$white_color: #fff;
$center_text: center;
$second_color: #389220;
$bold: 700;
$semi_bold: 600;
$normal_bold: 400;

$main_header_height: 60px;

@import "shop/wells";
@import "shop/forms";
@import "shop/buttons";

/* CSS Document */

body {
    margin: 0;
    font-family: $font_body;
    font-weight: $normal_bold;
    line-height: normal;
    color: $text-color
}

.cursor-pointer {
    cursor: pointer;
}

.popover {
    color: $text-color;

    .popover-title {
        border-bottom: 1px solid $text-color;
        background: #fff;
        color: $text-color;
    }
}

[uib-popover-template-popup].popover {
    display: block !important;
}

.product-identities-popup-inner {
    width: $popover-max-width - 14px * 2;
}

.creditcards {
    @extend h2;
    margin: 0;
    padding: 0;
}

.main_header .logo {
    height: 25px;
    margin: 7px 0;
}

.banner {
    background: url(../img/banner1.jpg) no-repeat center top;
    background-size: cover;
    height: 720px;
    width: $full_width;
}

.text-bottom {
    position: absolute;
    bottom: 10px;
    left: 15px;

    &.text-right {
        right: 15px;
    }
}

.checkout, .cart, .search, .product {
    header {
        padding-top: $main_header_height;
        background-size: cover;
        //background: no-repeat center;
        //height: 300px;
        height: 200px;
        width: 100%;
        position: relative;
        color: #fff;
        margin-bottom: 10px;

        .container {
            position: relative;
            height: 100%;
        }
    }
}

.cart header {
    background-image: url(../img/inner_banner.jpg);
}

.checkout header {
    background-image: url(../img/inner_banner.jpg);
}

.search header {
    background-image: url(../img/inner_banner.jpg);
}

.product header {
    height: 300px;
}

.navbar a {
    cursor: pointer;
}

.navbar .navbar-divider {
    height: floor($navbar-height - $navbar-margin-bottom);
    margin: floor($navbar-margin-bottom / 2) 9px;
}

.banner h1 {
    font-size: 50px;
    color: $blk_color;
    margin: 20% 0 0 0;
    text-align: $center_text;
    text-shadow: rgb(150, 150, 150) 0 0 5px;
    font-weight: $normal_bold
}

.banner h2 {
    font-size: 30px;
    color: $blk_color;
    margin: 2% 0 0 0;
    text-align: $center_text;
    text-shadow: rgb(150, 150, 150) 0 0 5px;
    font-weight: $normal_bold
}

.main_menu {
    margin: 0;
    list-style-type: none;
    float: right;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 0;

    /* Submenu */
    .main_menu ul {
        position: absolute;
        left: -9999px;
        top: -9999px;
        list-style-type: none;
        z-index: 1000000000
    }

    .main_menu li:hover {
        position: relative;
    }
}

.footer_menu ul {
    margin: 0;
    padding: 0;
    width: 230px;
    list-style-type: none;
}

.footer_menu ul li a {
    text-decoration: none;
    color: #616161;
    padding: 10.5px 11px;
    display: block;
    border-bottom: 1px dotted #474747;
    background: url(../img/footer_arrow.png) no-repeat left 16px;
}

.footer_menu ul li a:visited {
    color: $text-color;
}

.footer_menu ul li a:hover, .footer_menu ul li .current {
    color: $text-color;
}

.gallery_margin {
    margin-top: 30px;
}

.boxrow {
    margin: 30px 0
}

.box1 {
    background: #54555d;
    color: $white_color;
    font-size: 15px;
    text-align: $center_text;
    padding: 40px 0
}

.box2 {
    background: #6c6d76;
    color: $white_color;
    font-size: 15px;
    text-align: $center_text;
    padding: 40px 0
}

.box3 {
    background: #54555d;
    color: $white_color;
    font-size: 15px;
    text-align: $center_text;
    padding: 40px 0
}

.box4 {
    background: #6c6d76;
    color: $white_color;
    font-size: 15px;
    text-align: $center_text;
    padding: 40px 0
}

.map {
    height: 350px;
}

footer {
    background: $header_background;
    padding: 30px 0 0 0;
    margin-top: 30px;
}

footer h1 {
    color: $text-color;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 0 10px 0;
    margin: 0 0 15px 0;
    border-bottom: solid 1px $text-color
}

.abtcontent p {
    font-size: 14px;
    color: #616161;
}

.abtcontent h2 {
    font-size: 14px;
    color: $white_color;
    font-weight: $semi_bold
}

.abtcontent img {
    width: 150px;
}

.footer_margin {
    margin-right: 30px;
}

footer table {
    width: $full_width
}

.textfield_footer {
    width: $full_width;
    height: 40px;
    padding: 5px;
    background: #303030;
    border: solid 1px #4b4b4b;
    color: $text-color;
    font-size: 16px;
    margin-bottom: 15px;
}

.send_enquiry {
    width: $full_width;
    height: 40px;
    padding: 5px;
    background: #7a6b6b;
    border: solid 0 #4b4b4b;
    color: $white_color;
    font-size: 18px;
}

.copytext {
    color: #616161;
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
    padding-top: 20px;
}

.footer_light {
    background: #333333;
    padding: 15px 0;
    margin-top: 20px;
}

.thumb {
    margin-bottom: 30px;
    text-align: $center_text
}

.border_left {
    border-left: solid 1px #a9a9a7;
    height: 45px;
    float: right
}

span.fa {
    font-size: 15px;
    padding-top: 15px;
    margin-left: 10px;
}

.cart_no {
    border-radius: 50%;
    background: $second_color;
    color: $white_color;
    font-size: 9px;
    height: 15px;
    left: 70px;
    line-height: 15px;
    position: absolute;
    top: 5px;
    text-align: center;
    width: 15px;
}

.fa-lg {
    font-size: 15px;
    color: $white_color;
    padding-top: 15px
}

.fa-lg:hover {
    font-size: 15px;
    color: $second_color
}

.headerright {
    float: right
}

.img_text {
    font-size: 30px;
    color: $white_color;
    text-align: $center_text !important;
    z-index: 9;
    position: absolute;
    margin: 30% auto;
    width: 90%
}

.img_text1 {
    font-size: 30px;
    color: $white_color;
    text-align: $center_text !important;
    z-index: 9;
    position: absolute;
    margin: 15% auto;
    width: 90%
}

.img_text1 span {
    font-size: 60px;
    color: $white_color;
    text-align: $center_text !important;
    text-transform: uppercase;
}

/*header menu start*/
.menubtn {
    display: none;
}

/*----------------------------------
    MEDIA QUERY
-----------------------------------*/
@media screen and (max-width: 800px) {
    .menubtn {
        display: block;
        margin: 5px 0 10px;
        float: right;
        text-indent: -9999px;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        width: 40px;
        height: 40px;
    }
    .menubtn:hover {
        cursor: pointer;
    }
    nav span {
        display: block;
    }
    nav span {
        position: relative;
        float: right;
        padding: 10px;
    }
    nav span:hover {
        cursor: pointer;
    }
    nav ul,
    nav ul > ul {
        display: none;
        float: none;
        width: 250px;
    }
    nav ul li {
        border-right: none;
    }
    nav ul li a.sf-with-ul:after {
        content: '';
    }
    nav ul li ul,
    nav ul li ul li {
        width: $full_width;
    }
    nav ul li ul a {
        border-bottom: none;
    }
    nav ul ul,
    nav ul li {
        width: $full_width;
    }
    nav ul li a {
        padding: 0.5em 1em 0.5em 1em;
        float: left;
        color: $white_color;
        background: none
    }
    nav ul li ul a {
        padding: 0.5em 1em 0.5em 2em;
    }
    nav ul ul li ul a {
        padding: 0.5em 1em 0.5em 3em;
    }
    nav ul ul ul li ul a {
        padding: 0.5em 1em 0.5em 4em;
    }
    nav ul li ul,
    nav ul li ul ul,
    nav ul li:hover ul ul,
    nav ul li:hover ul ul ul,
    nav ul li.sfhover ul ul,
    nav ul li.sfhover ul ul ul,
    nav ul li:hover ul,
    nav ul li li:hover ul,
    nav ul li li li:hover ul,
    nav ul li.sfhover ul,
    nav ul li li.sfhover ul,
    nav ul li li li.sfhover ul {
        position: relative;
        display: none;
        margin: 0 0 0 0;
        left: 0em; /* using left instead of display because display: none isn't read by screen readers */
    }

    /*----------------------------------
        MOBILE COLORS
    -----------------------------------*/
    nav {
        background: none;
    }
    .menubtn {
        background: #333 url('../img/menuicon.png') no-repeat right top;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
        -khtml-opacity: 0.6;
        opacity: 0.6;
    }
    .menubtn:hover,
    .menuOpen {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        -khtml-opacity: 1;
        opacity: 1;
    }
    /*Plus icon*/
    nav span {
        background: $second_color;
        color: $white_color;
    }
    nav span:hover {
        background: $second_color;
    }
    /*Top Nav background*/
    nav ul ul,
    nav ul li {
        background: $blk_color;
    }
    /*Sub-Nav background*/
    nav ul li ul li {
        background: $blk_color;
    }
    /*Sub-Nav borders*/
    nav ul li ul li {
        border-bottom: 1px solid #e5e5e5;
    }
    /*sub, sub-Nav background*/
    nav ul ul ul li {
        background: $blk_color;
    }
    /*First Nav Item when open*/
    ul li.menuOpen,
    ul li.menuOpen:hover {
        background: $second_color;
    }
    ul li.menuOpen > span {
        background: $second_color;
        opacity: 0.9;
    }
    /*Sub-Nav Item when open*/
    ul ul li.menuOpen,
    ul ul li.menuOpen:hover {
        background: #a9e4fc;
    }
    /*Sub, Sub-Nav Item when open*/
    ul ul ul li.menuOpen,
    ul ul ul li.menuOpen:hover {
        background: #cdebf7;
    }
    .green_text {
        color: $second_color;
        display: inline;
        background: none;
        padding: 0
    }
    .green_text:hover {
        color: $second_color;
        display: inline;
        background: none;
        padding: 0
    }
}

/*header menu end*/

/* CSS Document */
@media (min-width: 320px) and (max-width: 768px) {
    .gallery_margin .gal {
        margin-top: 30px;
    }
    footer h1 {
        color: #b8b8b8;
        font-size: 20px;
        text-transform: uppercase;
        padding: 0 0 10px 0;
        margin: 30px 0 15px 0;
        border-bottom: solid 1px #b8b8b8;
    }
    .headerright {
        display: none
    }
}

@media (min-width: 320px) and (max-width: 1280px) {
    .search_box {
        background: #7f7f7f;
        margin: 30px auto 0 auto !important;
        padding: 10px 40px;
        position: static;
        //top:;
        width: 100%;
        z-index: 10;
    }

}

@media (min-width: 320px) and (max-width: 640px) {
    .banner {
        background: url(../img/banner1.jpg) no-repeat center top;
        background-size: cover;
        height: 300px;
        width: 100%
    }
    .map {
        background: url(../img/map.jpg) no-repeat center top;
        background-size: cover;
        height: 300px;
        width: 100%
    }
    .copytext {
        color: #616161;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 20px;
    }
    .banner_heading h1 {
        text-align: right;
        font-size: 40px;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;
        padding-top: 80px;
        letter-spacing: -3px
    }
    .search_result_box {
        border: solid 1px #7f7f7f;
        padding: 0;
        margin-left: 10px;
        margin: 20px -15px
    }
    .search_result_box .spaceheight {
        height: 100px;
    }
}
