<section class="product">
    <header
        ng-style="{'background-image':'url('+ (product.media.length ? product.media[0].media : 'img/NO_IMAGE.svg') +')'}">

        <div class="container">

            <h1 class="text-bottom">{{product.name}}</h1>

            <div class="row">
                <div class="col-sm-offset-8 col-sm-4">
                    <div class="well well-sm well-dark-transparent">
                        <div class="well-header row">
                            <div class="col-sm-6">
                                <strong>{{'GET_IT_NOW' | translate: {name: product.name} }}</strong>
                            </div>
                            <div class="col-sm-6 text-right"><strong>{{product.price | currency:'€ '}}</strong></div>
                        </div>

                        <form>
                            <div class="row form-group">
                                <div class=" col-sm-6">
                                    <label for="amount">{{'GUEST_AMOUNT' | translate}}</label>
                                    <input type="number"
                                           min="1"
                                           max="4"
                                           ng-change="changeAmount()" id="amount" name="amount"
                                           ng-model="cartItem.amount"
                                           placeholder="{{'GUEST_AMOUNT' | translate}}" class="form-control">
                                </div>

                                <div class=" col-sm-6">
                                    <label for="date">{{'DATE' | translate}}</label>
                                    <input type="date" id="date" name="date" placeholder="{{'DATE' | translate}}"
                                           class="form-control">
                                </div>
                            </div>

                            <hr>

                            <button class="btn btn-primary btn-block"
                                    uib-popover-template="'templates/product/clientNamePopover.html'"
                                    popover-placement="auto bottom"
                                    popover-title="{{'PRODUCT.ADD_IDENTITIES' | translate}}">
                                {{'BUY_NOW' | translate}}
                            </button>


                        </form>
                    </div>


                </div>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="well well-sm">
                    <h4>{{'DESCRIPTION' | translate}}</h4>

                    <p ng-bind-html="product.description"></p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="well well-sm">
                    <h4>{{'OPENING_HOURS' | translate}}</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="well well-sm">
                    <h4>{{'ADDRESS' | translate}}</h4>

                    <p>{{'ADDRESS_SHORT' |translate: product.address }}</p>

                    <leaflet ng-if="mapSettings" center="mapSettings.center" markers="mapSettings.markers"
                             height="250px" width="100%"></leaflet>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="well well-sm">
                    <h4>{{'PRODUCT.MORE_MEDIA' | translate}}</h4>

                    <div class="row">
                        <div class="col-xs-6 col-md-3" ng-repeat="media in product.media">
                            <a class="thumbnail cursor-pointer" ng-click="openImageModal(media)">
                                <img ng-src="{{media.media}}" alt="{{media.description}}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


</section>
