<html >
	<head>
		<title>Airspott Mail</title>
	</head>
	<body>
		<div ng-controller='myctrl'>
			<%= text %>
			<br/>
			Username : <%= user.email %>
			<br/>
			Password : <%= user.credentials.passwd %>
		</div>
		
	</body>
</html>