<section id='content' ng-cloak=''>
	<div class="container" >
	    <div class="row" id='content-wrapper'>
	      <div class="col-xs-12">
	      		<div class='page-header page-header-with-buttons'>
		            <h1 class='pull-left'>
		              <i class='icon-leaf' ></i>
		              <span>Add New Club</span>
		            </h1>
		            <div class='pull-right'>

		            </div>
		        </div>

		       <div class="col-sm-12">
                  <div class="box">
                    <div class="box-content box-padding">
                      <div class="fuelux">
                        <div class="wizard">
                          <ul class="steps">
                            <li class="active" data-target="#step1">
                              <span class="step">1</span>
                            </li>
                            <li data-target="#step2">
                              <span class="step">2</span>
                            </li>
                            <li data-target="#step3">
                              <span class="step">3</span>
                            </li>
                            <li data-target="#step4">
                              <span class="step">4</span>
                            </li>
                            <li data-target="#step5">
                              <span class="step">5</span>
                            </li>
                            <li data-target="#step6">
                              <span class="step">6</span>
                            </li>
                          </ul>
                          <div class="actions">
                            <button class="btn  btn-prev"><i class="icon-arrow-left"></i>Prev
                            </button>
                            <button class="btn  btn-success btn-next" data-last="Finish">
                              Next
                              <i class="icon-arrow-right"></i>
                            </button>
                          </div>
                        </div>
                        <div class="step-content">
                          <hr class="hr-normal">
                          <form class="form-horizontal" style="margin-bottom: 0;" method="post" action="#" accept-charset="UTF-8">
                          		<input name="authenticity_token" type="hidden">
	                          	<div class="step-pane active" id="step1">
		                          	<div class="box">
							            <div class='box-header' style="background-color:grey">
							                <div class="title" style="color:white">Club Form</div>
							            </div>
							            <div class="box-content" >
							            	<div class="form-group">
					                    		<div class="col-md-6 col-md-offset-4">
					                    			<label>Club Detail</label>
					                    		</div>
						                    </div>
						                    <div class="form-group">
						                        <label class="col-md-3 control-label">Club Name <span style='color:red'>*</span> : </label>
						                        <div class="col-md-5">
						                            <input ng-model='clubdetail.name' class="form-control" required=""/>
						                        </div>
						                    </div>
						                    <div class="form-group">
						                        <label class="col-md-3 control-label">Franchise Name : </label>
						                        <div class="col-md-5">
						                            <input ng-model='clubdetail.franchise_name' class="form-control" />
						                        </div>
						                    </div>
						                    <div class="form-group">
						                        <label class="col-md-3 control-label">Address 1 <span style='color:red'>*</span>: </label>
						                        <div class="col-md-5">
						                            <textarea ng-model='clubdetail._address.address' 
						                            class="form-control" required="">
						                            </textarea> 
						                        </div>
						                    </div>
						                    <div class="form-group">
						                        <label class="col-md-3 control-label">Address 2: </label>
						                        <div class="col-md-5">
						                            <textarea ng-model='clubdetail._address.address2' 
						                            class="form-control" required="">
						                            </textarea> 
						                        </div>
						                    </div>
						                    <div class="form-group">
						                        <label class="col-md-3 control-label">Zip code <span style='color:red'>*</span>: </label>
						                        <div class="col-md-5">
						                            <input ng-model='clubdetail._address.zip' class="form-control" required=""/>
						                        </div>
						                    </div>
						                    <div class="form-group">
						                        <label class="col-md-3 control-label">City <span style='color:red'>*</span>: </label>
						                        <div class="col-md-5">
						                            <input ng-model='clubdetail._address.city' class="form-control" required=""/>
						                        </div>
						                    </div>
						                    <div class="form-group">
						                        <label class="col-md-3 control-label">Country <span style='color:red'>*</span>: </label>
						                        <div class="col-md-5">
						                            <select class="c-select form-control"
							                                ng-model="club._address.country"
							                                name="country"
							                                id="country"
							                                ng-options="country as country | translate for country in countries"
							                                required>
							                            <option value="">Country</option>
							                        </select>
						                        </div>
						                    </div>
						                    <div class="form-group">
						                        <label class="col-md-3 control-label">Short description <span style='color:red'>*</span>: </label>
						                        <div class="col-md-5">
						                            <textarea ng-model='clubdetail.description' 
						                            class="form-control" required="">
						                            </textarea> 
						                        </div>
						                    </div>
						                    <div class="form-group">
						                    	<div class="row">
					                    			<hr style="margin-right:3em;margin-left:3em" />
					                    		</div>
					                    		<div class="col-md-6 col-md-offset-4">
					                    			<label>Club's manager Detail</label>
					                    		</div>
						                    </div>
						                    <div class="form-group">
						                        <label class="col-md-3 control-label">Gender :</label>
						                        <div class="col-md-9">
						                          <label class="radio radio-inline">
						                            <input  type="radio" vlaue='male' ng-model='clubdetail.gender'>
						                            Male
						                          </label>
						                          <label class="radio radio-inline">
						                            <input  type="radio" value='female' ng-model='clubdetail.gender'>
						                            Female
						                          </label>
						                        </div>
						                    </div>
						                    <div class="form-group">
						                        <label class="col-md-3 control-label">First Name <span style='color:red'>*</span>: </label>
						                        <div class="col-md-5">
						                            <input ng-model='fname' class="form-control" required=""/>
						                        </div>
						                    </div>
						                    <div class="form-group">
						                        <label class="col-md-3 control-label">Last Name <span style='color:red'>*</span> : </label>
						                        <div class="col-md-5">
						                            <input ng-model='lname' class="form-control" required=""/>
						                        </div>
						                    </div>
						                    <div class="form-group">
						                        <label class="col-md-3 control-label">Phone Number <span style='color:red'>*</span>: </label>
						                        <div class="col-md-5">
						                        	<input class="form-control" ng-model='clubdetail.responsibleTel' data-mask="+99 999 9999 999" placeholder="+99 999 999 999" type="text" required="">
						                        </div>
						                    </div>
						                    <div class="form-group">
						                        <label class="col-md-3 control-label">Email <span style='color:red'>*</span>: </label>
						                        <div class="col-md-5">
						                            <input type="email" ng-model='fd.email' class="form-control" required=""/>
						                        </div>
						                    </div>
							            </div>
							        </div>
	                          	</div>
	                         	<div class="step-pane" id="step2">
		                            <div class="box">
							            <div class='box-header' style="background-color:grey">
							                <div class="title" style="color:white">Opening Hours
							                </div>
							            </div>
							            <div class="box-content" style="padding-left:5em">
							            		<div class="row" ng-repeat="(day, openingObj) in clubdetail.openingHours">
							            			<div class="form-group">
								                      <hr style="margin-right:5em;margin-left:1em" />
								                      <div class="col-sm-12 col-sm-offset-10">
								                     	 <a href="javascript:;" class="btn btn-xs" id='btn_{{day}}' ng-click='closeDay(day)' >Close</a>
								                      </div>
								                    </div>
								                    <div class="col-xs-12">
									                    <div class="list-group-item-heading col-md-12"><h4>{{day | translate}}</h4>
									                    	
									                    </div>
									                    
								                    </div>
								                    <div  id='{{day}}'>
									                    <div class="row col-md-12">
									                    	<span class='pull-right' ng-if='day != "Bank Holiday"'>
										                    	<label >
											                    	<a href="javascript:;" class="pull-right" ng-click='copyToNextDay(day, openingObj)'>
											                    		Copy to next day
											                    	</a>
										                    	</label>
											                </span>
											                <span class='col-sm-12 col-sm-offset-6'>
											                	<a href="javascript:;" id='break_{{day}}' ng-click='break(day)' class="btn btn-xs">Want a middle Break?</a>
											                </span>
									                    </div>
									                    <div class="col-md-12">
										                    <div class="col-md-6">
											                    <div class="col-md-6">
											                        <p>{{'OPEN_FROM' | translate}}</p>

											                        <uib-timepicker ng-model="openingObj.openFrom" 
											                        				 hour-step="1" minute-step="1"
											                                        show-meridian="false">
											                        </uib-timepicker>
											                    </div>

											                    <div class="col-md-6">
											                        <p>{{'OPEN_TO' | translate}}</p>

											                        <uib-timepicker ng-model="openingObj.openTo" 
											                        				 hour-step="1" minute-step="1"
											                                        show-meridian="false">
											                        </uib-timepicker>
											                    </div>
										                    </div>
										                    <div class="col-md-6" id='wbreak_{{day}}' style="display:none">
											                    <div class="col-md-6">
											                        <p>{{'BREAK_FROM' | translate}}</p>

											                        <uib-timepicker ng-model="openingObj.breakFrom" 
											                        				 hour-step="1" minute-step="1"
											                                        show-meridian="false">
											                        </uib-timepicker>
											                    </div>

											                    <div class="col-md-6">
											                        <p>{{'BREAK_TO' | translate}}</p>

											                        <uib-timepicker ng-model="openingObj.breakTo" 
											                        				 hour-step="1" minute-step="1"
											                                        show-meridian="false">
											                        </uib-timepicker>
											                    </div>
										                    </div>
									                    </div>
								                    </div>

								                    
								                </div>
								            </div>
							        </div>
	                         	</div>
                         		<div class="step-pane" id="step3">
		                            <div class="box">
		                             	<div class='box-header' style="background-color:grey">
							                <div class="title" style="color:white">Capacities
							                </div>
							            </div>
		                             	<div class="box-content">
		                             		<fieldset class="form-group row">
							                    <div class="col-xs-12">
							                        <label for="saleUnit">
							                        	Pass Selling Unit
							                        </label>

							                        <select ng-options="saleUnit as  saleUnit for saleUnit in saleUnits"
							                                ng-model="clubdetail.saleUnit"
							                                class="c-select form-control"
							                                id="saleUnit"
							                                ng-change="generateCalConfig()">

							                            <option value="">Select</option>
							                        </select>
							                    </div>
							                </fieldset>

							                <div class="form-group row">
							                	<div class="col-md-12">
							                		<div class="col-md-6">
							                		<div class="">
							                        <label for="price">
							                        	Standard price per Pass
							                        </label>
							                        <label for="currency" class="sr-only">	
							                         	{{'CURRENCY' | translate}}
							                        </label>
							                        </div>
							                        <div class="row">
							                        	<div class="col-md-6">
							                            	<input type="text" ng-model="clubdetail.price" id="price" class="form-control"
							                                   placeholder="{{'DEFAULT_PRICE' | translate}}" required>
							                            </div>
							                            <div class="col-md-6">
								                            <select ng-options="currency.id as currency.symbol for currency in currencies"
								                                    ng-model="club.currencyId"
								                                    class="c-select form-control"
								                                    id="currency">
								                                <option value="">{{'CURRENCY' | translate}}</option>
								                            </select>
							                            </div>
							                        </div>
							                    </div>
							                	</div>
							                	
							                    <div class="col-xs-12 col-md-5">
							                        <label for="defaultCapacity">
							                        	Standard capacity per selling unit
							                        </label>
							                        <input type="text" ng-model="clubdetail.capacity" id="defaultCapacity" class="form-control"
							                         required>
							                    </div>
							                </div>
							                <div class="modal fade" id="calendarEventModal" tabindex="-1" role="dialog"	>
							                    <div class="modal-dialog modal-sm">
							                        <div class="modal-content">
							                            <div class="modal-header">
							                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							                                    <span aria-hidden="true">&times;</span>
							                                    <span class="sr-only">{{'CLOSE' | translate}}</span>
							                                </button>

							                                <h5 class="modal-title">Add Planning data</h5>
							                            </div>

							                            <div class="modal-body">

							                                <p ng-if="!eventInChange">We sell a maximum of the standard capacity of your offer per unit time at the standard price per unit of sales. Enter data for detailed planning and you can schedule any or all time-based changes to:</p>

							                                <fieldset class="form-group" ng-if="!eventInChange || eventInChange.price">
							                                	<div class="col-md-12">
							                                    	<label for="priceInModal">Price</label>
							                                    </div>
							                                    <div class="col-md-7">
							                                    	<input type="text" ng-model="modal.price" id="priceInModal" class="form-control"
							                                           placeholder="Price for sale unit">
							                                    </div>
							                                </fieldset>

							                                <fieldset class="form-group" ng-if="!eventInChange || eventInChange.capacity">
							                                	<div class="col-md-12">
							                                    	<label for="capacityInModal">Capacity</label>
							                                    </div>
							                                    <div class="col-md-7">
							                                    	<input type="text" ng-model="modal.capacity" id="capacityInModal"
							                                           class="form-control"
							                                           placeholder="Capacity for sale unit">
							                                    </div>
							                                </fieldset>

							                            </div>

							                            <div class="modal-footer">
							                                <button type="button" class="btn btn-secondary"
							                                        data-dismiss="modal">{{'CANCEL' | translate}}
							                                </button>
							                                <button type="button" class="btn btn-primary"
							                                        ng-click="updateCapacities()">{{'SAVE' | translate}}
							                                </button>
							                            </div>
							                        </div>
							                    </div>
							                </div>
							                <div class="col-md-12 calhide">
							                	 <div ui-calendar="calConfig.calendar" ng-model="capacityPlanningEntries" ng-if="calConfig"></div>
							                </div>	 
		                             	</div>
		                            </div>
                         		</div>
                          		<div class="step-pane" id="step4">
		                            <div class="box">
		                             	<div class="box-header" style="background-color:grey">
		                             		<div class="title" style="color:white">Activities</div>
		                             		<div class="actions">
		                             			<button class="btn" data-toggle='modal' data-target='#offer'>
		                             				<i class='icon-plus'>&nbsp;Add</i>
		                             			</button>
		                             		</div>
		                             	</div>
		                             	<div class="box-content table table-responsive" >
		                             		 <us-spinner ng-if='!offers'></us-spinner>
		                             		 <div class="row">
		                             		 	<div class="col-md-6"></div>
		                             		 	<div class="col-md-6 text-right">
		                             		 		<label>
						                                <input placeholder="Search" ng-model='search' class="form-control input-sm" style="width: 200px;" aria-controls="DataTables_Table_1" type="text">
						                            </label>
		                             		 	</div>
		                             		 </div>
		                             		 <div class="col-md-12">
		                             		 	<hr/>
		                             		 </div>
		                             		<div class="checkbox" ng-repeat="offer in offers | filter : search" ng-if='!offer.offerId'>
							                    <label>
							                        <input type="checkbox" class="activity" ng-model="offer.link" value="{{offer.id}}" >
							                        {{offer.identifier | translate}}
							                    </label>
							                </div>
		                             	</div>
		                            </div>
		                            <div class="modal fade" id='offer' role='dialog'>
		                            	<div class="modal-dialog">

										    <!-- Modal content-->
										      <form method="post" id='activity' name='activity'>
											    <div class="modal-content">
											      <div class="modal-header">
											        <button type="button" class="close" data-dismiss="modal">&times;</button>
											        <h4 class="modal-title">Add New Activity</h4>
											      </div>
												      <div class="modal-body">
												        <div class="form-group">
												        	<label class="control-label col-md-3">Name</label>
												        	<div class="col-md-6">
												        		<input  class="form-control" ng-model='newoffer.identifier' required/>
												        	</div>
												        	<div style="color:red">
												        		{{nameerr}}
												        	</div>
												        </div>
												        <div class="form-group">
												        	<label class="control-label col-md-3">Parent</label>
												        	<div class="col-md-6">
												        		<select id='offer1' class="form-control" ng-model='newoffer.offerId'>
												        			<option ng-repeat='x in offers' value="{{x.id}}">{{x.identifier}}</option>
												        			<option value=''></option>
												        		</select>
												        	</div>
												        </div>
												        <div class="form-group">
												        	<label class="control-label col-md-3">Extra Price</label>
												        	<div class="col-md-6">
												        		<input type="number" min='1' max='99999999' class="form-control" ng-model='newoffer.extraprice'/>
												        	</div>
												        </div>
												      </div>
											      <div class="modal-footer">
											      	<button type="button" name='submit' class="btn btn-success" ng-click='addActvity()'><i class='icon-save'></i>&nbsp;Add</button>
											        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											      </div>
											    </div>
										     
										</div>
		                            </div>
                          		</div>
                          		<div class="step-pane" id='step5'>
                          			<div class="box">
                          				<div class="box-header" style="background-color:grey">
                          					<div class="title" style="color:white">Photo uploads
                          					</div>
                          				</div>
                          				<div class="box-content">
                          					<div style='cursor:pointer' class="alert alert-info clickable"
							                     ngf-drop="processFiles($files)"
							                     ngf-select="processFiles($files)"
							                     ngf-drag-over-class="'alert-danger dragover'"
							                     ngf-multiple="true"
							                     ngf-pattern="'image/jpeg,image/png,image/svg+xml'">
							                     	<div class="hide-dragover">Drag and Drop File here or clicked to upload
								                        <br/><small>Allow types are jpeg/png/svg.</small>
								                    </div>
							                </div>
							                <div ngf-no-file-drop>
							                    <h2>File upload is unavailable please use unother browser.</h2>
							                </div>
							                <div class="col-md-12" ng-if="media.length > 0">
							                	<div class="" ng-repeat="mediaItem in media | orderBy:'':true">
							                        <div style="height:12em;width:100%" class="text-center">
							                            <img class="card-img-top" ng-src="{{mediaItem.media}}" alt="{{mediaItem.name}}"
							                                 style="max-height:100%;max-width:100%">
							                        </div>
							                        <div class="card-block">

							                            <hr />

							                            <fieldset class="form-group">
							                                <label for="{{'mediaItemName'+$index}}">Image name</label>
							                                <input type="text" ng-model="mediaItem.name" id="{{'mediaItemName'+$index}}"
							                                       class="form-control" placeholder="Image Name" required>
							                            </fieldset>
							                            <fieldset class="form-group">
							                                <label for="{{'mediaItemDescription'+$index}}">Image Description</label>

							                                <textarea ng-model="mediaItem.description" id="{{'mediaItemDescription'+$index}}"
							                                          class="form-control"
							                                          placeholder="Image description">
							                                </textarea>
							                            </fieldset>
							                        </div>
							                    </div>
							                </div>
                          				</div>
                          			</div>
                          		</div>
                          		<div class="step-pane" id='step6'>
                          			<div class="box">
                          				<div class="box-header" style="background-color:grey">
                          					<div class="title" style="color:white">Billing Details
                          					</div>
                          				</div>
                          				<div class="box-content">
                          					<div class="row ">
                          					<div class="form-group">
                          						<label class="col-md-3 control-label">Country <span style='color:red'>*</span>:</label>
                          						<div class="col-sm-6">
                          							<select ng-options="currency.id as currency.symbol for currency in currencies"
						                                    ng-model="bill.currencyId"
						                                    class="c-select form-control"
						                                    id="currency1">
						                                <option value="">{{'CURRENCY' | translate}}</option>
						                            </select>
                          						</div>
                          					</div>
                          					<div class="form-group">
                          						<label class="col-md-3 control-label">Bank Name <span style='color:red'>*</span> :</label>
                          						<div class="col-md-6">
                          							<input class="form-control" ng-model='bill.bank_name'/>
                          						</div>
                          					</div>
                          					<div class="form-group">
                          						<label class="col-md-3 control-label">IBAN <span style='color:red'>*</span> :</label>
                          						<div class="col-md-6">
                          							<input class="form-control" ng-model='bill.iban' maxlength='34'/>
                          						</div>
                          					</div>
                          					<div class="form-group">
                          						<label class="col-md-3 control-label">BIC <span style='color:red'>*</span> :</label>
                          						<div class="col-md-6">
                          							<input class="form-control" ng-model='bill.bic'/>
                          						</div>
                          					</div>
                          					<div class="form-group">
                          						<label class="col-md-3 control-label">Account_Holder_Name <span style='color:red'>*</span> :</label>
                          						<div class="col-md-6">
                          							<input class="form-control" ng-model='bill.acc_holder_name'/>
                          						</div>
                          					</div>
                          					</div>
                          				</div>
                          			</div>
                          		</div>
                          </form>
                        </div>
                    </div>
                  </div> 
		       </div>
	      	</div>
	    </div>
	    <footer id='footer'>
	      <div class='footer-wrapper'>
	      	<div class="container">
		        <div class='row'>
		          <div class='col-sm-6 text'>
		            Copyright © 2013 Airsott
		          </div>
		          <div class='col-sm-6 buttons'>

		          </div>
		        </div>
	        </div>
	      </div>
	    </footer>
	</div>
</section>