<section id='content' ng-cloak=''>
	<div class='container'>
	    <div class='row' id='content-wrapper'>
	      <div class='col-xs-12'>
	        <div class='page-header page-header-with-buttons'>
	            <h1 class='pull-left'>
	              <i class='icon-leaf' ></i>
	              <span>Manage Clubs</span>
	            </h1>
	            <div class='pull-right'>

	            </div>
	        </div>
	          <div class="row">
	              <div class="col-sm-12">
	                <div class="box bordered-box orange-border" style="margin-bottom:0;">
		                  <div class="box-header" style="background-color:gray">
		                    <div class="title" style="color:white">
		                    Clubs
		                    </div>
		                    <div class="actions">
		        				<button class="btn btn-default" ui-sref='club-new.add-new-club'>
					            	 <i class="icon-plus"></i>&nbsp;Add
					            </button>            	
		                    </div>
		                  </div>
			                  <div class="box-content box-no-padding">
			                    <div class="table-responsive">
			                      <div class="scrollable-area">
			                      </div>
			                    </div>
			                  </div>
		                 </div>
	                 </div>
	            </div>
	        </div>
	        <footer id='footer'>
	        	<div class='footer-wrapper'>
			        <div class="container">
			          <div class='row'>
			            <div class='col-sm-6 text'>
			              Copyright © 2013 Airsott
			            </div>
			            <div class='col-sm-6 buttons'>

			            </div>
			          </div>
			        </div>
			    </div>
	        </footer>
	     </div>
    </div>
</section>