<section id='content' ng-cloak=''>
	<div class="continer" >
	    <div class="row">
	      <div class="col-xs-12">
	        <button class="btn btn-default" style='margin:1em' ui-sref='club-new.add-new-club' >
	          <i class="icon-plus"></i>&nbsp;Add
	        </button>
	      </div>
	    </div>
	    <div class="row">
	    	<div class="col-xs-12 table-responsive">
	    		<table class="table table-striped table-hover">
	    			<tr>
	    				<th>Name</th>
	    				<th>Address</th>
	    				<th>Short Description</th>
	    			</tr>
	    		</table>
	    	</div>
	    </div>
	</div>
</section>