<section id='content' ng-cloak=''>
	<div class='container'>
	    <div class='row' id='content-wrapper'>
	      <div class='col-xs-12'>
	          <div class='page-header page-header-with-buttons'>
	            <h1 class='pull-left'>
	              <i class='icon-leaf' ></i>
	              <span>Manage Clubs</span>
	            </h1>
	            <div class='pull-right'>

	            </div>
	          </div>
	          <div class="row">
	            <button class="btn btn-default" style='margin:1em' >
	             <i class="icon-plus"></i>&nbsp;Add
	            </button>
	          </div>
	           <div class="row">
	              <div class="col-sm-12">
	                <div class="box bordered-box orange-border" style="margin-bottom:0;">
		                  <div class="box-header" style="background-color:gray">
		                    <div class="title" style="color:white">
		                    Clubs
		                    </div>
		                  </div>
			                  <div class="box-content box-no-padding">
			                    <div class="table-responsive">
			                      <div class="scrollable-area">
			                      </div>
			                    </div>
			                  </div>
		                 </div>
	                 </div>
	            </div>
	        </div>
	     </div>
    </div>
</section>