<div class="container">
    <div class="row">
        <div class="col-xs-4"><a href="#/"><img src="images/logo.png" class="logo"></a></div>
        <div class="col-xs-7">
            <nav class="applePie">
                <div class="menubtn">{{'MAIN_MENU' | translate}}</div>
                <ul id="nav">
                    <li><a href="/club">{{'SELLER_CENTRAL' | translate}}</a></li>

                    <li>
                        <a href="#">{{'Mein Benutzerkonto' | translate}}</a>
                        <ul>
                            <li><a href="#" title="{{'Mein Benutzerkonto' | translate}}">
                                {{'Mein Benutzerkonto' | translate}}</a></li>
                            <li>
                                <a href="#" title="{{'Mein Wunschzettel' | translate}}">
                                    {{'Mein Wunschzettel' | translate}}</a></li>
                            <li>
                                <a href="#" title="{{'Mein Warenkorb' | translate}}" class="top-link-cart">
                                    {{'Mein Warenkorb' | translate}}</a>
                            </li>
                            <li>
                                <a href="#" title="{{'Zur Kasse' | translate}}" class="top-link-checkout">
                                    {{'Zur Kasse' | translate}}</a>
                            </li>
                            <li>
                                <a href="#" title="{{'Anmelden' | translate}}">
                                    {{'Anmelden' | translate}}
                                </a></li>
                        </ul>
                    </li>

                    <li><a href="#" title="{{'LANGUAGES.GERMAN' | translate}}">{{'LANGUAGES.GERMAN' | translate}}</a>
                        <ul>
                            <li><a href="#" title="{{'LANGUAGES.ENGLISH'| translate}}">{{'LANGUAGES.ENGLISH'|
                                translate}}</a></li>
                            <li><a href="#" title="{{'LANGUAGES.FRENCH'| translate}}">{{'LANGUAGES.FRENCH'|
                                translate}}</a></li>
                        </ul>
                    </li>

                    <li><a href="#">{{'CURRENCY' | translate}} : <span class="green_text">EUR</span></a>
                        <ul>
                            <li><a href="#" title="EUR">EUR</a></li>
                            <li><a href="#" title="USD">USD</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-xs-1 border_left headerright">
            <ul class="nav navbar-nav navbar-left social">
                <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
            </ul>
            <span class="fa fa-shopping-cart"></span>
            <span class="cart_no">0</span>
        </div>
    </div>
</div>
