<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                <img alt="{{'AIRSPOTT' | translate}}" src="img/logo.png" style="max-height:100%;">
            </a>
        </div>

        <div>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown" uib-dropdown>
                    <a role="button" class="dropdown-toggle" uib-dropdown-toggle aria-haspopup="true"
                       aria-expanded="false">
                        {{'LANGUAGE' | translate}} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="language in languages">
                            <a ng-click="changeLanguage(language.toLowerCase())"
                               title="{{'LANGUAGES.' + language |  translate}}">
                                {{'LANGUAGES.' + language | translate}}
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" uib-dropdown>
                    <a role="button" class="dropdown-toggle" uib-dropdown-toggle aria-haspopup="true"
                       aria-expanded="false">
                        {{'CURRENCY.CURRENCY' | translate: {current:currentCurrency} }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="currency in currencies">
                            <a ng-click="currentCurrency = currency" title="{{'CURRENCIES.EUR'| translate}}">
                                {{currency}}
                            </a>
                        </li>
                    </ul>
                </li>

                <li><a href="/club">{{'SELLER_CENTRAL' | translate}}</a></li>
                <li class="navbar-divider"></li>
                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li class="navbar-divider"></li>
                <li><a href="#/cart"><i class="fa fa-shopping-cart"></i> <span class="badge">{{cart.length}}</span> </a></li>
            </ul>
        </div>
    </div>
</nav>
