<us-spinner ng-if="!salesLoaded"></us-spinner>

<div ng-if="sales && sales.length" class="card card-white">
    <div class="card-block">
        <h4 class="card-title">{{'SALES' | translate}}</h4>
        <h6 class="card-subtitle text-muted">{{'SALES_DESCRIPTION' | translate}}</h6>
    </div>

    <hr>

    <div class="card-block">
        <a href="#/club/manage" class="btn btn-primary">{{'REFINE_YOUR_CLUBS' | translate}}</a>
    </div>
</div>


<div ng-if="(!sales || !sales.length)" class="card card-white">
    <div class="card-block">
        <h4 class="card-title">{{'NO_SALES_YET' | translate}}</h4>
        <h6 class="card-subtitle text-muted">{{'SALES_DESCRIPTION' | translate}}</h6>
    </div>

    <hr>

    <div class="card-block">
        <a href="#/club/manage" class="btn btn-primary btn-block">{{'REFINE_YOUR_CLUBS' | translate}}</a>
        <a href="#/club/reports" class="btn btn-secondary-outline btn-block">{{'NEED_HELP' | translate}}</a>
    </div>
</div>