<us-spinner ng-if="!tocVersion || (!ownerAccount && ownerAccount !== false)"></us-spinner>

<div ng-if="tocVersion && (ownerAccount || needsNewOwnerAccount === true)" class="card card-white">

    <div class="card-block">
        <h4 class="card-title">{{'ACCOUNTING' | translate}}</h4>
        <h6 class="card-subtitle text-muted">{{'ACCOUNTING_DESCRIPTION' | translate}}</h6>
    </div>

    <hr>

    <div class="card-block">

        <div class="alert alert-danger" role="alert" ng-if="needsNewOwnerAccount === true">
            <strong>{{'ATTENTION' | translate}}</strong>

            <span>{{'NO_PAYOUT_CONFIGURED' | translate}}</span> <span>{{'SET_IT_UP_NOW' | translate}}</span>
        </div>

        <form class="row">
            <div class="col-xs-12">
                <p><strong>{{'BANK_ACCOUNT' | translate}}</strong></p>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="iban">{{'IBAN' | translate}}</label>
                    <input id="iban" class="form-control" type="text" ng-model="ownerAccount.iban" ng-iban>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="bic">{{'BIC_SWIFT' | translate}}</label>
                    <input id="bic" class="form-control" type="text" ng-model="ownerAccount.bic">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="bank">{{'BANK' | translate}}</label>
                    <input id="bank" class="form-control" placeholder="{{'AUTO_DETECTION' | translate}}" type="text"
                           disabled>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="commission">{{'COMMISSION' | translate}}</label>

                    <div class="input-group" ng-if="ownerAccount && !needsNewOwnerAccount">
                        <input id="commission" ng-value="ownerAccount.salesCommission * 100" class="form-control"
                               type="text"
                               disabled>

                        <div class="input-group-addon">%</div>
                    </div>

                    <input id="commission" value="{{'COMMISSION_AFTER_ACCOUNT_SETUP' | translate}}" class="form-control"
                           type="text"
                           disabled ng-if="needsNewOwnerAccount || !ownerAccount">
                </div>
            </div>

            <div class="col-xs-12">
                <p><strong>{{'TOC_CLUB' | translate}}</strong></p>
            </div>

            <div class="col-sm-12">
                <a href="">{{'DOWNLOAD_TOC' | translate}}</a><br>

                {{settings}}

                <label for="toc">
                    <input type="checkbox" id="toc" ng-model="ownerAccount.toc" ng-true-value="'{{tocVersion}}'"
                           ng-false-value="undefined">

                    {{'I_ACCEPT_TOC_CLUB' | translate}}
                </label>
            </div>
        </form>
    </div>

    <hr>

    <div class="card-block">
        <button class="btn btn-block btn-primary-outline" ng-click="save()">{{'SAVE' | translate}}</button>
    </div>
</div>