<us-spinner ng-if="!clubsLoaded"></us-spinner>

<div ng-if="clubsLoaded && (!clubs || !clubs.length)" class="card card-white">
    <div class="card-block">
        <h4 class="card-title">{{'NO_CLUB_ADDED' | translate}}</h4>
        <h6 class="card-subtitle text-muted">{{'CLUB_DESCRIPTION' | translate}}</h6>
    </div>

    <hr>

    <div class="card-block">
        <a href="#/club/edit/" class="btn btn-primary btn-block">{{'ADD_A_CLUB' | translate}}</a>
    </div>
</div>

<div ng-if="clubs && clubs.length" class="card card-white">
    <div class="card-block">
        <h4 class="card-title">{{'MY_CLUBS' | translate}}</h4>
        <h6 class="card-subtitle text-muted">{{'CLUB_DESCRIPTION' | translate}}</h6>
    </div>
</div>

<div class="card-columns" ng-if="clubs && clubs.length">
    <div class="card card-white" ng-repeat="club in clubs">
        <div class="card-block">
            <h4 class="card-title">{{club.name}}</h4>

            <p class="card-text">{{'ADDRESS_SHORT' | translate:club._address}}</p>
        </div>

        <div style="width:100%;"
             class="text-center">
            <img class="card-img-center" ng-src="{{club.media.length ? club.media[0].media : 'img/NO_IMAGE.svg'}}" alt="{{club.name}}"
                 style="max-height:100%;max-width:100%">
        </div>

        <div class="card-block">
            <p class="card-text">
                <small class="text-muted">{{'DEFAULT_PRICE_CAPACITY_DESCRIPTION' | translate:club}}</small>
            </p>

            <a ng-href="#/club/edit/{{club.id}}" class="btn btn-primary">{{'EDIT_CLUB' | translate}}</a>
        </div>
    </div>
</div>