<div ng-if="clubsLoaded && (!clubs || !clubs.length)">

    <h2>{{'NO_CLUB_ADDED' | translate}}</h2>
    <hr />

    <a href="#/club/edit/" class="btn btn-primary">{{'ADD_A_CLUB' | translate}}</a>
</div>

<us-spinner ng-if="!clubsLoaded"></us-spinner>

<h2 ng-if="clubs && clubs.length">{{'MY_CLUBS' | translate}}</h2>
<hr />
<div class="card-columns" ng-if="clubs && clubs.length">
    <div class="card" ng-repeat="club in clubs">
        <div class="card-block">
            <h4 class="card-title">{{club.name}}</h4>

            <p class="card-text">{{'ADDRESS_SHORT' | translate:club._address}}</p>
        </div>

        <div style="height:12em;width:100%" class="text-center">
            <img class="card-img-top" ng-src="{{club.media.length ? club.media[0].media : ''}}" alt="{{club.name}}"
                 style="max-height:100%;max-width:100%">
        </div>

        <div class="card-block">
            <p class="card-text">
                <small class="text-muted">{{'DEFAULT_PRICE_CAPACITY_DESCRIPTION' | translate:club}}</small>
            </p>

            <a ng-href="#/club/edit/{{club.id}}" class="btn btn-primary">{{'EDIT_CLUB' | translate}}</a>
        </div>
    </div>
</div>