<h2>{{'WELCOME_TO_AIRSPOTT' | translate}}
    <br>
    <small>{{'ACCOUNT_WELCOME_SUBLINE' | translate:user}}</small>
</h2>
<hr />

<div class="card-columns">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">
                {{'AT_A_GLANCE' | translate}}
            </h4>

            <ul class="list-unstyled">
                <li><strong>{{'USER_TYPE' | translate:user}}</strong>{{'USER_TYPE_DATA' | translate:user}}</li>
                <li><strong>{{'BALANCE' | translate:user}}</strong>{{'BALANCE_DATA' | translate:user}}</li>
                <li><strong>{{'PENDING_PAYOUT' | translate:user}}</strong>{{'PENDING_PAYOUT_DATA' | translate:user}}
                </li>
                <li><strong>{{'NEXT_TODO' | translate:user}}</strong>{{'NEXT_TODO_DATA' | translate:user}}</li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-block">
            <h4 class="card-title">
                {{'QUICK_ACTIONS' | translate}}
            </h4>

            <a class="btn btn-primary-outline btn-block" href="#/club/edit/">{{'ADD_A_CLUB' | translate}}</a>
            <a class="btn btn-primary-outline btn-block" href="#/club/edit/">{{'VIEW_ACCOUNTING' | translate}}</a>
            <a class="btn btn-primary-outline btn-block" href="#/club/edit/">{{'REQUEST_PAYOUT' | translate}}</a>
            <a class="btn btn-primary-outline btn-block" href="#/club/edit/">{{'ADD_A_CLUB' | translate}}</a>
        </div>
    </div>

    <div class="card card-danger card-inverse">
        <div class="card-block">
            <h4 class="card-title">
                {{'ATTENTION' | translate}}
            </h4>

            <p class="card-text">{{'NO_PAYOUT_CONFIGURED' | translate}}</p>

            <a class="btn btn-secondary-outline btn-block" href="#/club/edit/">{{'TAKE_ACTION_NOW' | translate}}</a>
        </div>
    </div>
</div>